<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据源属性面板</title>
    <link href="{{ url_for('static',filename='layui/css/layui.css') }}" rel="stylesheet" />
    <script src="{{ url_for('static',filename='layui/layui.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery.js') }}"></script>
</head>
<body>
    <table id="sourcesTable" lay-filter="test"></table>
    <script type="text/html" id="barTable">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>

        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    <a class="layui-btn layui-btn-xs" lay-event="add" id="addCol">新增</a>
    <script src="{{ url_for('static',filename='dist/addSources.js') }}"></script>

</body>
</html>