<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="{{ url_for('static',filename='layui/css/layui.css') }}" />
		<script src="{{ url_for('static',filename='jquery/dist/jquery.min.js') }}"></script>
		<script src="{{ url_for('static',filename='layui/layui.js') }}"></script>
		<link href="{{ url_for('static',filename='css/mapbox-gl-1.2.0.css') }}" rel='stylesheet' />
		<link rel="stylesheet" href="{{url_for('static',filename='css/mapbox-gl-draw.css') }}">
		<script src="{{ url_for('static',filename='js/mapbox-gl_1.3.0.js') }}"></script>
		<script type="text/javascript" charset="UTF-8" src="{{ url_for('static',filename='js/FileSaver.js') }}"></script>
		<script src="{{ url_for('static',filename='js/mapboxgl-control-minimap.js') }}"></script>
		<script type="{{ url_for('static',filename='text/javascript" src="js/jquery.js') }}"></script>
		<script src="{{ url_for('static',filename='js/mapbox-gl-draw.js') }}"></script>
		<script src="{{ url_for('static',filename='js/truf.min.js') }}"></script>
		<script src="{{ url_for('static',filename='js/d3.v3.js') }}"></script>
		<script src="{{ url_for('static',filename='js/echarts.js') }}"></script>
		<script src="{{ url_for('static',filename='js/three.min.js') }}"></script>
		<script src="{{ url_for('static',filename='js/GLTFLoader.js') }}"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/dali_special1.css') }}"/>
	</head>
	<body >
		<div id="map">
			<nav id="menu"></nav>
		</div>
        <script src="{{ url_for('static',filename='dist/methods.js') }}"></script>
		<script src="{{ url_for('static',filename='dist/map_dali_special2.js') }}"></script>
		<!--<script src="{{ url_for('static',filename='dist/getMapAttribution.js') }}"></script>-->
		<!--<script src="{{ url_for('static',filename='dist/addControls.js') }}"></script>-->
		<!--<script src="{{ url_for('static',filename='dist/draw.js') }}"></script>-->
		<!--<script src="{{ url_for('static',filename='dist/animatedPoint.js') }}"></script>-->
        <!--<script src="{{ url_for('static',filename='dist/LayerControl.js') }}"></script>-->
		<!--<script src="{{ url_for('static',filename='dist/caseSelect.js') }}"></script>-->
		<!--<script src="{{ url_for('static',filename='dist/search.js') }}"></script>-->
	</body>
</html>
