<!DOCTYPE html>
<html>
<head>
    <title>水系图_0520</title>
    <meta charset="utf-8" />
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src="{{ url_for('static',filename='dist/mapbox-gl-dev.js') }}"></script></script>
    <link href="{{ url_for('static',filename='dist/mapbox-gl.css') }}" rel='stylesheet'/>
    <link href="{{ url_for('static',filename='css/base.css') }}" rel='stylesheet'/>
    <script src="{{ url_for('static',filename='dist/jquery.min.js') }}" ></script>
    <style>
        html,
        body {
            padding: 0;
            margin: 0;
            height: 100%;
            overflow: hidden;
        }

        #map {
            height: 100%;
            z-index: 0;
        }
    </style>
</head>

<body>
<p>index</p>
</body>

</html>